{% extends 'base.html' %}
{% load static %}

{% block cssSheet %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

{% for i in meal %}
<div class="card d-inline-flex mt-3 container food-container" style="width: 18rem;">
    <img src="{{ i.strMealThumb }}" class="card-img-top " alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ i.strMeal }} </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}

{% endblock  %}